streamlit==1.35.0
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.0
plotly==5.22.0
geopandas==0.14.4
openpyxl==3.1.2
fcmeans==0.5.2
shapely==2.0.4
fiona==1.9.6
pyproj==3.6.1
rtree==1.2.0
sqlite3  # built-in, no need to install via pip